
.titlehead{
	font-family: 'Alegreya Sans', sans-serif;
	color:white;
	font-weight: 700; 
	margin-right: 10em;
	margin-top: 2em;
	margin-bottom: 1em;
	font-size: 22px;
	width: 23em;
}
nav, .emphs, .emphsday{
	font-size: 18px;
	color: #FFFFCC;
}
.emphsday, .emphstitle{
	font-size: 26px;
	color: #FF9966;
}
.emphsday{
	font-size: 28px;
	text-shadow: .1em .1em 2em #FF9966;
}
.author{
	text-align: left;
	color: #B0B0B0 ;
}
#author_top{
	color: #B0B0B0;
}
header h1{
	color: white;
	font-family: "Alegreya Sans", sans-serif;
	font-weight: 700;
	font-size: 32px;
	width: 19em;
	position: relative;
	padding-top: 1em;
}
.block{
	width: 100%;
	max-width: 400px;
	padding-top: 1em;
	padding-right: 35px;
	padding-bottom: 10px;
	padding-left: 35px;
	
}
.content{
	text-align: justify;
	color: #E8E8E8;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	margin-bottom: 2em;
}
.tiny{
	font-weight: 300;
	font-size: 10px;
}
