
nav, .emphs{
	color: #FFF2BC;
	font-weight: bold;
	font-size: 16px;
}
nav{
	text-shadow: 0.1em 0.1em 0.5em black;
}
.emphsday{
	color: #FFF2BC;
	font-weight: bold;
	font-size: 28px;
}
header{
	color: white;
	font-family: "Alegreya Sans", sans-serif;
	font-weight: 700;
	font-size: 32px;
	width: 19em;
	position: relative;
	padding-top: 1em;
	text-shadow: 0.1em 0.1em 0.5em black;
}
.titlehead{
	font-family: 'Alegreya Sans', sans-serif;
	color:white;
	font-weight: 700; 
	margin-right: 12em;
	margin-top: 2em;
	margin-bottom: 1em;
	font-size: 22px;
	width: 19em;
	background-color: rgba(255,0,0,0.5);
	box-shadow: 2px 2px 2px #000000;
	text-shadow: 0.1em 0.1em 0.5em black;
}
.block{
	width: 100%;
	max-width: 400px;
	padding-top: 1em;
	padding-right: 35px;
	padding-bottom: 10px;
	padding-left: 35px;
	background-color: rgba(255, 90, 11, 0.5);
	box-shadow: 2px 2px 2px #000000;
}
.content{
	text-align: justify;
	color: white;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
	margin-bottom: 2em;
	text-shadow: 0.1em 0.1em 0.5em black;
}
.author{
	text-align: left;
}
