/* Index */
.indexcontainer h1,
.indexcontainer h2,
.indexcontainer h3,
.indexcontainer h4{
	padding-left: 45px;
	margin-top: 8%;
	font-family: "Cookie";
	font-size: 8em;
	text-align: center;
}	
.indexcontainer h3,
.indexcontainer h4{
	font-size: 5em;
}	
.indexcontainer h4{
	font-family: none;
	margin-top: 2%;
}
/* Page one */

.wrapper{
	min-height: 100%;
	position: relative;
}
/*head*/
#abouthead h1{
	font-size: 6em;
	width: 80%;
	color: white;
	padding-top: 1em;
}
/*body*/
#body div.info {
  	font-family: "Alegreya Sans", sans-serif;
  	color: white;
  	float: left;
  	min-height: 100px;
  	padding: 1%;
  	margin: 2%;
  	width: 19%;
  	border-radius: 100px 100px 100px;
  	background: #99B382;
}
#body div.info img{
	width: 60%;
}
#body div.info h2{
	padding-left: 0px;
	margin-top: 0;
	font-size: 1em;
	font-family: "Cookie";
	color: black;
}
#twitfeed{
	width:	100%;
	max-width: 400px;
	position: relative;
	float: right;
}
.filler{
	clear:both;
}
#bottomhead h2{
	color: white;
	padding-left: 0px;
	margin-top: 0;
	font-size: 3em;
	width: 80%;
	font-family: "Cookie";
}
/* Footer */
footer {
  	clear: left;
}
/* Blog */

.titlehead{
	font-family: 'Alegreya Sans', sans-serif;
	color:white;
	font-weight: 700; 
	margin-right: 10em;
	margin-top: 2em;
	margin-bottom: 1em;
	font-size: 22px;
	width: 23em;
}
nav, .emphs, .emphsday{
	font-size: 18px;
	color: #FFFFCC;
}
.emphsday, .emphstitle{
	font-size: 26px;
	color: #FF9966;
	text-align: left;
}
.emphsday{
	font-size: 28px;
	text-shadow: .1em .1em 2em #FF9966;
}
.author{
	text-align: left;
	color: #B0B0B0 ;
}
#author_top{
	color: #B0B0B0;
}
header h1{
	color: white;
	font-family: "Alegreya Sans", sans-serif;
	font-weight: 700;
	font-size: 32px;
	width: 19em;
	position: relative;
	padding-top: 1em;
}
.block{
	width: 100%;
	max-width: 400px;
	padding-top: 1em;
	padding-right: 35px;
	padding-bottom: 10px;
	padding-left: 35px;
}
.content{
	text-align: justify;
	color: #E8E8E8;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	margin-bottom: 2em;
}
.tiny{
	font-weight: 300;
	font-size: 10px;
}
.codeblock{
	padding: 10px 10px 10px 10px;
	background-color: #D0D0D0;
	font-size: 18px;
}
.def{
	color: red;
}
.codetext{
	color: black;
}
/*tweaks*/
.emphs{
	font-size: 16px;
}
a:link{
	color:white;
}
a:visited{
	color:white;
}